
/* Variables
-----------------------------------------------------------------*/

$main_color: #fd5b38;
$main_color2: #caff33;
$body_color: #fff;
$sub_bg: #121212;
$sub_bg2: #000;
$main_bg: #0f0f0f;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1300px;